.designTable {
    width: 100%;
}
caption{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 4px 3px;
    font-family: "Raleway", sans-serif;
    
}
th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #7fa899;
    color: white;
}

.keys button {
    background-color: #a6c7bb;
    padding: 7px 23.3px;
    border: 1px solid#6c9b91;
}

.keys {
    margin: 10px 1px;
}

.heading {
    padding: 4px;
    font-family: "Raleway", sans-serif;
    margin: 10px 2px;
    font-size: 15px;
    text-align: center;
    background: #6c9b91;
    color: white;

}

tr:nth-child(even) {
  background-color: #d3ebe5;;
}